ul li{
	list-style-type: none;
}
ul{
	margin: 0;
	padding-left:0;	
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}	
.title_branch:hover{
    background: #f15a25;
    color: #FFFFFF;
}
.row{
	display: flex;
}
.div_drop{
	display: none;
}
.switchboard{
	margin: 0;
    font-size: 1.2rem;
    color: red;
    font-weight: bold;
}
.title_branch{
	color: #333;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 4px 6px;
	width: 310px;
	display: block;
}
{
	color: #382525
}
.div_drop{
	box-sizing: border-box;
	z-index: 999;
	position: absolute;
	background: #fff;
	border: 1px solid red;
	padding: 0 8px;
	width: 100%;
	height: 30vh;
	overflow-y: auto;
	animation: anima .2s
}
@keyframes anima{
	from{
		width: 0;
		height: 0;
	}
	to{

	}
}
a{
	
}
.div_drop::-webkit-scrollbar {
  display: none;
}

.dropdown li{
	margin-left: 15px;
	list-style-type:unset;
}
.search{
	height: 65px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: white;
}
.value{
	height: 36px;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding-left: 8px;
	outline: none;

}
.value:focus{
box-shadow:1px 2px 8px #C3BFBF;
}
.original{
	width: 100%;
	background: #E9E3E3;
}
.web{
	width: 1200px;
	margin: 0 auto;
}
.header_list{
	height: 100%;
	padding: 0px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex: 1;

}
.list_info li{
	padding-top: 4px;
	margin: 12px 0;
}
.header_menu{
	display: flex;
	background: #f15a25;
	height: 60px;
	color: #FFFFFF;
}
.header_item:hover{
	color: #332020;
}
.header_item a:hover{
	color: #332020;
}
.header_item a{
	color:#fff;
}
.icon{
	margin-right: 6px;
	font-size: 23px;
}
.main_slide{
	width: 60%;
}
.tech_news{
	margin-top: 6px;
	margin-bottom: 0;
    color: #FFFFFF;
    background: #f15a25;
    height: 34px;
    text-align: center;
    line-height: 34px;
}
.promotion{
	margin-top: 5px;
}
.tech_news_img{
   width: 100%;
}
.carousel-item{
	height: 382px;
}
.image{
	padding: 15px ;

}
.image_product{
	background: white;
	border: 1px solid #FFFFFF;
	border-radius: 10px;
}
.info_product{
	padding:0 28px;
}
.title_hot-product{
	padding-left: 8px;
	position: relative;
	background: #ff5400;
	margin-top: 8px;
	width: 230px;
	height: 33px;
	color: white;
}
.title_hot-product:after{
	right: -14px;
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	border-left: 1px solid transparent;
	border-right: 14px solid transparent;
	border-bottom: 33px solid #EF6D24;
}
.title_selling:after{
	right: -14px;
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	border-left: 1px solid transparent;
	border-right: 14px solid transparent;
	border-bottom: 33px solid #EF6D24;
}
.title_care:after{
	right: -14px;
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	border-left: 1px solid transparent;
	border-right: 14px solid transparent;
	border-bottom: 33px solid #EF6D24;
}
.hot_deal{
	border: 2px solid #F25623;
	background: #FFFFFF;
}
.img_hotdeal{
	border: 2px solid #F25623;
	padding: 8px;
}
.name_hotdeal{
	color:#f15a25;
	text-align: center; 
}
.title_hotdeal{
	padding: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.title_hotdeal h3{
	font-size: 2rem;
	padding-bottom: 14px;
}
.title_hotdeal p{
	font-size: 1.2rem;
	background: #FF680C;
	border-radius: 8px;
	padding: 4px;
}
.title_selling{
	padding-left: 8px;
	position: relative;
	background: #ff5400;
	margin-top: 8px;
	width: 317px;
	height: 33px;
	color: white;
}
.image_selling{
	background: white;
	border: 1px solid #FFFFFF;
	border-radius: 10px;
}
.info_selling{
	padding:0 28px;
}
.title_care{
	padding-left: 8px;
	position: relative;
	background: #ff5400;
	margin-top: 8px;
	width: 400px;
	height: 33px;
	color: white;
}
.image_care{
	background: white;
	border: 1px solid #FFFFFF;
	border-radius: 10px;
}
.info_care{
	padding:0 28px;
}
.seemore{
	margin-top: 16px;
	display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.see_more{
	border: 1px solid #FD6D06 ;
    padding: 16px 60px;
    line-height: 100%;
    color: #FD6D06;
    border-radius: 10px;
    margin-top: -15px;
}
.see_more:hover{
	background: #FD6D06;
	color: white;
}
.col-lg-2-5{
	background: white;
	width: 20%;
	border: 1px solid #FFFFFF;
	border-radius: 10px;
}
.col-lg-4{
	background: white;
	padding: 0 15px;
	width: 33.3%;
	background: white;
	border: 1px solid #FFFFFF;
}
.title_accessories{
	margin-top: 8px;
	padding-left: 8px;
	position: relative;
	background:#ff5400;
	color: white;
	width: 205px;
	height: 33px; 
}
.title_accessories:after{
    right: -14px;
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	border-left: 1px solid transparent;
	border-right: 14px solid transparent;
	border-bottom: 33px solid #EF6D24;	
}
.col1{
	width: 25%;
	margin: 8px;
}
.col{
	margin: 8px;

}
.abc{
	margin-left: 0px;
}
.col-lg-3{
	width: 25%;
}
.info_accessories{
	padding:0 28px;
}
.img img{
	width: 100%;
}
.img{
	border: 1px solid #ccc;
	border-radius: 10px;
	display: flex;
	align-items: center;
	height: 100%;
	justify-content: center;
}
.desc_act{
	text-align: center;
	display: block;
}
.button{
	color: #fff;
	display: inline-block;
    font-weight: 400;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 8px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 4px;
}
.login{
    background-color: #007bff;
    border-color: #007bff;
}
.reg{
    background-color: #dc3545;
    border-color: #dc3545;
}
.branch:hover .div_drop{
	display: block;
}